[submodule "lib/zephyr-workspace/zephyr"]
	path = lib/zephyr-workspace/zephyr
	url = https://github.com/zephyrproject-rtos/zephyr.git
[submodule "lib/fprime"]
	path = lib/fprime
	url = https://github.com/JPL-Devin/fprime.git
	branch = devin/1790989254-ipcfg-socket-headers
[submodule "lib/fprime-zephyr"]
	path = lib/fprime-zephyr
	url = https://github.com/JPL-Devin/fprime-zephyr.git
	branch = devin/1790995930-touch-reset-generalize
[submodule "lib/fprime-stress"]
	path = lib/fprime-stress
	url = https://github.com/LeStarch/fprime-stress.git
[submodule "lib/fprime-python"]
	path = lib/fprime-python
	url = https://github.com/fprime-community/fprime-python.git
